{% extends "base.html" %}

{% block head_content %}
<link rel="stylesheet" , href="/Assets/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron&family=Poppins:wght@200;400&display=swap"
    rel="stylesheet">
<title>COMPUTER CHART</title>
{% endblock head_content%}

{% block body %}
<div class="main-head-block">
    <h1 class="main-head">Artificial Inteligense</h1>
    <div class="udn"></div>
</div>
<div class="main-brief-content">
    <p align="center">Artificial Intelligence (AI) models are
        essentially computer
        programs designed to perform tasks that typically require human
        intelligence. Machine learning relies on algorithms to enable
        systems to learn and make predictions or decisions based on
        data. <strong>Neural networks, inspired by the structure of the
            human brain, are a popular architecture in many AI models.
        </strong>
    </p>
</div>
<div class="main-algo-content">
    <h3>Algorithms Used In Text Generation AI Models</h3>
    <p class="algo-content-brief">Text generation AI models, like GPT
        (Generative Pre-trained
        Transformer) and its variants, employ various algorithms and
        techniques to generate coherent and contextually relevant text.
        Here are some key algorithms and methods commonly used in text
        generation AI models:
    </p>
    <div class="parser-main">
        <div class="parser5">
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content"
                        href="/rrn">Recurrent Neural
                        Networks(RRNs)</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/lstm">Long Short-Term
                        Memory
                        (LSTM)</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/gru">Gated Recurrent
                        Unit
                        (GRU)</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/am">Attention
                        Mechanisms</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/trans">Transformers</a></p>
            </div>
        </div>

        <div class="parser10">
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/bs">Beam Search</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/tks">Top-k Sampling</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/ts">Temperature
                        Scaling</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/pe">Prompt Engineering</a></p>
            </div>
            <div class="algo-wrapper">
                <p class="bullets">[+]</p>
                <p><a class="algo-content" href="/ft">Fine-Tuning</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}